.card-container {
  box-shadow: 0 2rem 4rem rgba(94, 53, 177, 0.1);
  overflow: hidden;
  border-radius: 11px;
  transition: all 0.4s;
}

.card-container:hover {
  transform: translateY(-0.5rem);
}

.product-img-wrapper {
  width: 100%;
  height: 24rem;
}

.product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.product-details {
  padding: 2.4rem;
}

.product-category {
  font-size: 1.4rem;
  display: inline-block;
  color: #5e35b1;
  font-weight: 500;
  padding: 0.8rem 1.6rem;
  border-radius: 20px;
  background-color: #f0e9fb;
  margin-bottom: 1.2rem;
}

.product-title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1.2rem;
}

.product-desc {
  font-size: 1.6rem;
  line-height: 1.6;
  margin-bottom: 3.6rem;
}

.price-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-icon {
  font-size: 2.4rem;
  width: 4.8rem;
  height: 4.8rem;
  background-color: #f0e9fb;
  border-radius: 50%;
  color: #5e35b1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.5s ease;
}

.cart-icon:hover {
  background-color: #dfd7ef;
  transform: scale(1.05);
}

.card-container:hover .cart-icon {
  opacity: 1;
}

.product-price {
  font-size: 2rem;
  color: #5e35b1;
  font-weight: 700;
}
